/* ==========================================================================
   Site styles
   ========================================================================== */

body {
	background: url('../assets/illustration-bg.png') no-repeat;
	background-position: top center;
	background-size: 1280px auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 120px;

	@include break(medium) {
		background-size: 100% auto;
	}

	@include break(mobile) {
		background-size: 800px auto;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container {
	max-width: 1280px;
	display: block;
	position: relative;
	margin: 0 auto;
}

/* Header */
.nav--logo {
	width: 201px;
	display: block;
	position: relative;
	margin: 0 auto;

	@include break(medium) {
		width: 125px;
	}

	@include break(mobile) {
		width: 125px;
	}
}

.nav--main {
	position: absolute;
	top: 0;
	padding-top: 150px;
	width: 100%;

	@include break(medium) {
		padding-top: 120px;
	}

	@include break(mobile) {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.nav--left,
.nav--right {
	padding: 0;
	font-family: "proxima-nova-condensed";
	font-size: $font-size-4;
	text-transform: uppercase;
	list-style-type: none;
	display: inline-block;

	li {
		display: inline-block;
	}

	@include break(medium) {
		font-size: $font-size-5;
	}

	@include break(mobile) {
		font-size: $font-size-5;
		display: block;
		margin: 0;

		li {
			display: block;
			margin: 10px auto;
			padding-top: 5px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ebebeb;
		}
	}

}

.nav--left {
	text-align: left;

	li {
		padding-right: 70px;
	}

	@include break(mobile) {
		text-align: center;

		li {
			padding-right: 0;
		}
	}
}

.nav--right {
	float: right;
	text-align: right;

	li {
		padding-left: 70px;
	}

	@include break(mobile) {
		float: none;
		text-align: center;

		li {
			padding-left: 0;
		}
	}
}


/* Story Section */

.sect--story {
	margin-top: -110px;

	@include break(medium) {
		margin-top: -20px;
	}

	@include break(mobile) {
		margin-top: 0;
	}
}

.story--photo {
	margin-bottom: 10px;

	@include break(mobile) {
		display: none;
	}
}

.story--lettering {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;

	@include break(mobile) {
		display: none;
	}
}

.story--lettering-alt {
	padding: 0;
	display: inline-block;

	@include break(mobile) {
		display: none;
	}
}

.story--text-mobile {
	display: none;

	@include break(mobile) {
		display: inline;
		font-weight: bold;
		font-size: $font-size-4;
		font-style: italic;
	}
}

/* Details Section */

.sect--details {
	margin-top: 40px;
}

.sect--details-container {
	background-color: $gray-light;
	padding: 20px 30px;
	text-align: center;

	@include break(mobile) {
		padding: 10px;
	}
}

.details-header {
	margin-top: 10px;
	font-size: $font-size-2;
	font-weight: 100;
	font-family: "proxima-nova-condensed";
	text-transform: uppercase;
	letter-spacing: 2px;
}
